
 
  .form-box{
    width: 300px;
    background:rgb(0, 0, 0);
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0,5);
    border: black 10px solid;
  }
  

    .input-box{margin: 31 auto;
    border-bottom: 1px;
  padding-top: 10px;
  padding-bottom: 5px;

}
.input-box input{
  width: 90%;
  border: none;
  outline: none;
  background: ;
  color: blue;
}

.con{
  /* border: black 2px solid; */
}
.b1{
  background-color: rgb(151, 44, 80);
  color: rgb(255, 255, 255);
}
.b1{
  background-color: rgb(74, 145, 77);
  color: white;
  border-radius: 10px;
}
.b2{
  background-color: rgb(54, 47, 122);
  color: white;
  border-radius: 10px;
}
.b3{
  background-color:rgb(61, 150, 185);
  color: white;
  border-radius: 10px;
}
.b4{
  background-color: rgb(197, 98, 27);
  color: white;
  border-radius: 10px;
}




.x{
  text-align: center;
}
.c1{background-color: blueviolet;}